<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum
        expedita facere in. Quas odit a est facilis expedita, facere omnis
        mollitia deserunt tempore quod tenetur saepe ut suscipit. Quaerat.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum
        expedita facere in. Quas odit a est facilis expedita, facere omnis
        mollitia deserunt tempore quod tenetur saepe ut suscipit. Quaerat.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum
        expedita facere in. Quas odit a est facilis expedita, facere omnis
        mollitia deserunt tempore quod tenetur saepe ut suscipit. Quaerat.
      </p>
    </div>
        <%- include('./partials/footer.ejs') %>

  </body>
</html>
